<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<main layout:fragment="main">
    <form action="/member/login" method="post">
        <div>
            <div>아이디</div>
            <input type="text" name="username">
        </div>

        <div>
            <div>비밀번호</div>
            <input type="password" name="password">
        </div>

        <button type="submit">가입</button>
    </form>
</main>

</body>
</html>